<div class="container">
    <div class="cabeza">
        <p>Negocios con requerimientos</p>
    </div>

    <div class="lista">
        <div class="titulo">
            <p>Lista de negocios con requerimientos</p>
        </div>
        <div class="formato">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Demon</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Cuenta</th>
                        <th scope="col">Acta</th>
                        <th scope="col">Giro</th>
                        <th scope="col">Inspector</th>
                        <th scope="col">Acciones</th> 
                    </tr> 
                </thead>
                <tbody>
                    <tr *ngFor="let dato of data">
                        <td scope="row">{{dato.nombre}}</td>
                        <td>{{ dato.demon }}</td>
                        <td>{{ dato.domicilio }}</td>
                        <td>{{ dato.cuenta }}</td>
                        <td>{{ dato.acta }}</td>
                        <td>{{ dato.giro }}</td>
                        <td>{{ dato.inspector }}</td>
                        <td scope="row" class="botones">
                            <button (click)="requerimiento()"> Requerimiento</button>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>    

</div>