<div class="container">
    <header>
      <div *ngIf="!islogin"></div>
      <div *ngIf="islogin">
        <i class="fa fa-bars" aria-hidden="true" (click)="menu()"></i>        
      </div>
      <nav>
        <ul (click)="logout()">
          <i class="fa" [class.fa-user-circle]="islogin" [class.fa-home]="!islogin" aria-hidden="true"></i>
          <button class="usuario" >{{islogin ? 'Usuario' : 'Bienvenido' }}</button>
          <i *ngIf="islogin" class="fa fa-sign-out" aria-hidden="true"></i>

        </ul>
      </nav>
    </header>
</div>