header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(125, 134, 199);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

i.fa.fa-bars{
    color: white;
    font-size: xx-large;
    cursor: pointer;
    padding-left: 16px;
}

.container {
    background-color: rgb(67, 78, 158);
    display: flex;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 80px;
    padding-right: 25px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}
nav a:hover {
   text-decoration: underline;
}

ul {
    padding: 0 12px;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: large;
    cursor: pointer;
}

ul i.fa {
    color: white;
}
