.formato {
    margin-top: 100px;
}

.nuevo {
    margin-top: 95px;
}

label {
    margin-left: 20px;
}

.sidebar-open {
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: all 0.3s ease-in-out;
}

button {
    cursor: pointer;
    background-color: rgb(72, 76, 139);
    border-color: rgb(72, 76, 139);
    border-radius: 4px;
    color: white;
}
