aside {
    width: 225px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -225px;
    background-color: rgb(125, 134, 199);
    transition: left 0.3s ease-in-out;
    flex: 1;
    z-index: 1;
    overflow-y: auto;
}

aside.open {
    left: 0;
}

.side {
    margin-top: 90px;
    height: 371px;
}

button {
    margin-top: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.inspect {
    height: 50px;
}

.inspect:hover{
    background-color: rgb(96, 104, 160);
    cursor: pointer;
}

i.fa {
    color: white;
}