<div class="cont">
    <p>Negocios con Orden de Clausura</p>

    <div class="lista">
        <p>Lista de negocios con orden de clausura</p>

        <div class="tabla">
            <label>Nombre</label>

            <label>Demon</label> 

            <label>Domicilio</label>

            <label>Cuenta</label>

            <label>Acta</label>
            
            <label>Giro</label>

            <label>Inspector</label>

            <label>Acciones</label>

            <button (click)="orden()">Orden de Clausura</button>
        </div>
    </div>
</div>